body {
    margin: 0;
    background-color: white;
    color: rgb(109, 109, 109);
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 0px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 15px;
    padding-left: 26px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    /* background-color: #f0f0f0; */
    background: rgb(39, 39, 39);
    color: rgba(151, 151, 151, 0.089);
    height: 100vh;
    padding: 15px;
    padding-left: 35px;
}

#wiki-title{
    color: rgb(136, 136, 136);
}

.sidebar h2 {
    margin-top: 5px;
}

#editButton {
    position: absolute;
    right: 4em;
    top: 1em;
    color: light-grey;
    background: none;
    border: none;
}

#editButton:hover {
    background: black;
    color: white;
}

#edit-text-area {
    height: 500px;
}

#edit-entry-title-invisible {
    display: none;
}