{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry
{% endblock %}

{% block body %}

    <h1>Edit this page</h1>
    <form action="{% url 'wiki:create' %}" method="post">
        <textarea name="content"> {{content}} </textarea
        <input type="submit" value = "Save Changes"></input>
    </form>
{% comment %}     <form action="{% url 'wiki:create' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value = "Create Entry"></input>
    </form> {% endcomment %}

{% endblock %}